{% tool "citizenshipFeedback/filters" %}{% raw %}

<div class="loading" v-if="isLoading">Loading feedback...</div>
<ul class="feedback-list" v-show="!isLoading">
	<li v-cloak v-for="result in resultsPage" v-if="!isLoading" :key="result.modification_date">
		<button class="button" v-if="result.modification_key" @click="deleteResult(result.modification_key)">Delete</button>
		<h3>
			Citizenship
			<template v-if="result.appointment_date">in {{ formatTimeDelta(result.application_date, result.appointment_date) }}</template>
			<span class="department">Department {{ (departments[result.department] || '').split(' — ')[0] }}</span>
		</h3>
		<p v-if="result.notes.length" class="notes">“{{ result.notes.trim() }}”</p>
		<div class="steps">
			<div class="step completed">
				<input type="checkbox" checked disabled>
				<span class="description">Applied <span class="no-mobile">on {{ formatLongDate(result.application_date) }}</span></span>
				<time v-text="formatLongDate(result.application_date)"></time>
			</div>

			<div class="step" :class="{completed: !!result.first_response_date}">
				<input type="checkbox" :checked="result.first_response_date" disabled>
				<span class="description">
					<template v-if="result.first_response_date">
						Got a response {{ formatTimeDelta(result.application_date, result.first_response_date) }} later
					</template>
					<template v-else>
						No response as of {{ formatLongDate(result.modification_date) }}
					</template>
				</span>
				<time v-if="result.first_response_date" v-text="formatLongDate(result.first_response_date)"></time>
			</div>

			<div class="step" v-if="!!result.first_response_date" :class="{completed: !!result.appointment_date}">
				<input type="checkbox" :checked="result.appointment_date" disabled>
				<span class="description">
					<template v-if="result.appointment_date">
						Went to appointment {{ formatTimeDelta(result.first_response_date, result.appointment_date) }} later
					</template>
					<template v-else>
						No appointment as of {{ formatLongDate(result.modification_date) }}
					</template>
				</span>
				<time v-if="result.appointment_date" v-text="formatLongDate(result.appointment_date)"></time>
			</div>
		</div>
	</li>
</ul>
<pagination :value="page" @input="loadPage($event, true)" :page-count="pageCount"></pagination>
{% endraw %}