<p>
	In Berlin, it takes <strong v-text="totalWaitRange">a few months</strong> to become a German citizen.
	The average wait time is <span v-text="totalWaitAverage">unknown</span>.
	Based on <a href="#feedback-from-other-people">feedback from <span v-text="feedbackCount">many</span> people</a>.
</p>
{% tool "citizenshipFeedback/filters" %}
{% raw %}
<div class="citizenship-feedback-summary feedback-summary">
	<div class="steps">
		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Send your documents</span>
			<small class="duration" v-text="stepWaitRange('first_response_date')">Loading…</small>
		</div>
		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Get a response</span>
			<small class="duration" v-text="stepWaitRange('appointment_date')">Loading…</small>
		</div>
		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Become a German citizen</span>
		</div>
	</div>
</div>
{% endraw %}