[*.{html,jinja,js,svg,mjs}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{scss,css}]
indent_style = space
indent_size = 4
tab_width = 4

[*.py]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true

[crontab.conf]
insert_final_newline = true
