<div class="buttons bar left">
	<select v-model="residencePermitType">
		<option :value="null">All residence permits</option>
		<option disabled>──────────</option>
		<option v-for="(name, key) in residencePermitTypes" :key="key" :value="key" v-text="name.capitalized"></option>
	</select>
	<select v-model="department">
		<option :value="null">All departments</option>
		<optgroup label="Current departments">
			<option v-for="(name, key) in departments" :key="key" :value="key" v-text="name"></option>
		</optgroup>
		<optgroup label="Old departments">
			<option v-for="(name, key) in oldDepartments" :key="key" :value="key" v-text="name"></option>
		</optgroup>
	</select>
</div>