{% load humanize %}<p>Hi there,</p>

<p>You left Germany around two years ago. You can now get a refund for your German pension payments. You asked me to remind you about it.</p>

<h2>What does this mean?</h2>

<p>When you worked in Germany, you put around 9.3% of your salary into the German pension system. You might be able to get that money back.</p>

<p>After you leave Germany, you must wait two years to request a refund. Many people forget, so they never get their money back. This is why you set a reminder on All About Berlin.</p>

<p>To read more about it, visit <a href="https://allaboutberlin.com/guides/pension-payments-refund?utm_source=email_reminder">https://allaboutberlin.com/guides/pension-payments-refund</a>. If you have questions, you can also reply to this email.</p>

<h2>How much money will I get back?</h2>

<p>Around 9.3% of your income. The more you earned, the more you will get back. The average refund is around €7,000, but some people get more than €30,000 back.</p>

<p>Some time ago, you used my <a href="https://allaboutberlin.com/tools/pension-refund-calculator?utm_source=email_reminder">pension refund calculator</a>. It calculated that you would get €{{ message.refund_amount|intcomma }} back.</p>

<p>To calculate your refund again, just use the <a href="https://allaboutberlin.com/tools/pension-refund-calculator?utm_source=email_reminder">pension refund calculator</a>.</p>

<h2>How do I get my money back?</h2>

<p>You must make a request to the Deutsche Rentenversicherung. This takes around 2 months, sometimes longer.</p>

<p>You can also ask someone to do it for you. They will keep a percentage of your refund, but it will be a lot easier for you. <a href="https://allaboutberlin.com/out/pension-refund-germany?utm_source=email_reminder">Pension Refund Germany</a>, <a href="https://allaboutberlin.com/out/fundsback?utm_source=email_reminder">FundsBack</a> and <a href="https://allaboutberlin.com/out/germany-pension-refund?utm_source=email_reminder">Germany Pension Refund</a>. They helped me write and improve my guide about pension refunds, and helped some of my readers get a refund. I also talked with other companies, but they did not seem very experienced.</p>

<p>For more information, visit <a href="https://allaboutberlin.com/guides/pension-payments-refund?utm_source=email_reminder">my guide on this topic</a>.</p>

<p>Warm regards from Berlin,<br>Nicolas Bouliane, All About Berlin</p>

<p><small>You received this email because you asked for a reminder when you could apply for a pension refund. <a href="https://allaboutberlin.com/newsletter?utm_source=email_reminder">Subscribe to my newsletter</a> to receive monthly Berlin tips and updates.</small></p>
