<p>Hi {{ message.refund_request.name|default:"there" }},</p>

<p>A week ago, you asked for a pension payments refund on All About Berlin.</p>

<p>If you have time, I would like some feedback. I only have 3 questions:</p>

<ol>
	<li>Why did you pay someone to do it for you?</li>
	<li>Are you happy with the service?</li>
	<li>How can we make it easier to get a pension refund?</li>
</ol>

<p>That's all! Thanks for taking the time to answer. It's really helpful.</p>

<p>Kind regards,<br>Nicolas Bouliane, All About Berlin</p>

<p><small>You received this email because you asked for a pension payments refund on All About Berlin. <a href="https://allaboutberlin.com/newsletter?utm_source=email_reminder">Subscribe to my newsletter</a> to receive monthly Berlin tips and updates.</small></p>
