<p>Hi there,</p>

<p>A few weeks ago, you applied for a residence permit at the Berlin immigration office. You gave us a bit of feedback about your experience, but some information is still missing.</p>

<p>This is the information you gave us:</p>

<ul>
	<li>Application date: {{ message.feedback.application_date|date:"F j, Y" }}</li>
	<li>First Ausländerbehörde response: {% if message.feedback.first_response_date %}{{ message.feedback.first_response_date|date:"F j, Y" }}{% else %}Missing{% endif %}</li>
	<li>Appointment date: {% if message.feedback.appointment_date %}{{ message.feedback.appointment_date|date:"F j, Y" }}{% else %}Missing{% endif %}</li>
	<li>Residence permit pick-up date: {% if message.feedback.pick_up_date %}{{ message.feedback.pick_up_date|date:"F j, Y" }}{% else %}Missing{% endif %}</li>
</ul>

<p>Can you <a href="https://allaboutberlin.com/guides/immigration-office/wait-times?utm_source=email_reminder#feedbackKey={{ message.feedback.modification_key }}~{{ message.feedback.residence_permit_type }}">add missing information about your experience</a>? It will take a minute, and it will help thousands of people.</p>

<p>Kind regards,<br>Nicolas Bouliane, All About Berlin</p>

<p><small>You received this email because you gave feedback about your residence permit application. <a href="https://allaboutberlin.com/newsletter?utm_source=email_reminder">Subscribe to my newsletter</a> to receive monthly Berlin tips and updates.</small></p>
