<p>Hi {{ message.name }},</p>

<p>8 weeks ago, you used the form filler on All About Berlin to request a tax ID. Did it work for you?</p>

<p>It's a tricky form, and I need feedback to make it better. If you have time, I want to ask you a few questions:</p>

<ol>
	<li>Which Finanzamt did you contact?</li>
	<li>Did it work? Did you receive a tax ID?</li>
	<li>Where did they send your tax ID?</li>
	<li>How long did it take?</li>
	<li>Is there anything I can do to make the process easier?</li>
</ol>

<p>That's all! Thanks for taking the time to answer. It's really helpful.</p>

<p>Kind regards,<br>Nicolas Bouliane, All About Berlin</p>

<p><small>You received this email because you volunteered to give feedback about your tax ID application. <a href="https://allaboutberlin.com/newsletter?utm_source=email_reminder">Subscribe to my newsletter</a> to receive monthly Berlin tips and updates.</small></p>
