{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}

{% block postHead %}
	{{ super() }}
	<link rel="index" href="{{ SITE_URL }}/guides">
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		{% block precontent %}{% endblock %}
		<article class="section">
			{% block contentHeader %}
				<h1>{{ entry.title }}</h1>
				{% include "_blocks/postMeta.html" %}
			{% endblock %}
			{% with entry=entry, showRelatedEntriesLink=entry.collections|default %}
				<div class="article-body">
					{{ entry.body|render|safe }}
				</div>
			{% endwith %}
		</article>

		{% with pageType='guide' %}
			{% include "_blocks/footerDonationPrompt.html" %}
		{% endwith %}

		{% if entry.collections|default %}
			<aside id="related" class="section no-print" aria-label="Collections that include this guide" data-nosnippet>
				<h2>Related guides</h2>
				{% with collections=entry.collections, currentEntry=entry %}
					{% include "_blocks/collections.html" %}
				{% endwith %}
			</aside>
		{% endif %}

		{% include "_blocks/affiliateNotice.html" %}
	</main>

	{% with entry=entry, showRelatedEntriesLink=entry.collections|default %}
		{% include "_blocks/sidebar.html" %}
	{% endwith %}
{% endblock %}

{% block postFooter %}
	{{ super() }}
	<script type="application/ld+json">
		[
			{
				"@context": "http://schema.org",
				"@type": "WebPage",
				"name": {{ entry.title|tojson }},
				"description": {{ entry.description|tojson }},
				{% if entry.image_url|default %}"image": "{{ entry.image_url }}",{% endif %}
				"breadcrumb": {
					"@context": "https://schema.org",
					"@type": "BreadcrumbList",
					"itemListElement": [
						{
							"@type": "ListItem",
							"position": 1,
							"item": {
								"@id": "{{ SITE_URL }}/",
								"name": "Home"
							}
						},
						{
							"@type": "ListItem",
							"position": 2,
							"item": {
								"@id": "{{ SITE_URL }}/guides",
								"name": "Guides"
							}
						},
						{
							"@type": "ListItem",
							"position": 3,
							"item": {
								"@id": "{{ entry.url }}",
								"name": {{ entry.title|tojson }}
							}
						}
					]
				},
				"author": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"reviewedBy": [
					{% set reviews = entry.related_reviews|default([]) %}
					{% for review in reviews %}
						{% set reviewer = review.related_expert[0] %}
						{
							"@context": "https://schema.org/",
							"@type": "Person",
							"jobTitle": {{ reviewer.job_title|tojson }},
							"name": {{ reviewer.name|tojson }},
							"email": {{ reviewer.email|tojson }}
							{% if reviewer.picture|default %}, "image": "{{ SITE_URL }}/{{ reviewer.picture }}"{% endif %}
							{% if reviewer.website|default %}
								, "sameAs": [
									{{ reviewer.website|tojson }}
								]
							{% endif %}
						}{% if not loop.last %},{% endif %}
					{% endfor %}
				],
				{% if reviews|length %}
					"lastReviewed": "{{ reviews[0].date_reviewed.strftime('%Y-%m-%d') }}",
				{% endif %}
				"publisher": {
					"@type": "Organization",
					"@id": "{{ SITE_URL }}/#organization"
				}
			},
			{% include "_blocks/guideJsonld.json" %}
		]
	</script>
{% endblock %}
