{% extends "_layout.html" %}
{% set metatitle = "Guides" %}
{% set metadescription = "Guides about relocating to Berlin and Germany: all about housing, work, residence permits, health insurance and more." %}

{% block postHead %}
	{{ super() }}
	<link rel="canonical" href="{{ SITE_URL }}/guides">
{% endblock %}

{% block main %}
<main aria-label="Main page">
	<header class="intro" aria-label="Title and search box">
		<h1>Guides about Germany</h1>
		{% with autofocus=true %}
			{% include "_blocks/searchForm.html" %}
		{% endwith %}
	</header>
	<section aria-label="Guide collections">
		{% with currentEntry=null, collections=get_entries('collections', sort_by='order') %}
			{% include "_blocks/collections.html" %}
		{% endwith %}
	</section>
	<section class="section" aria-label="Newest guides">
		<h2>Newest guides</h2>
		{% set newEntries = get_entries('guides', sort_by='date_created', reverse=True)[0:10] %}
		{% with entries=newEntries, showDatePosted=true %}
			{% include "_blocks/entryPreviews.html" %}
		{% endwith %}
	</section>
	<section class="section" aria-label="Recently updated guides">
		<h2>Recent updates</h2>
		{% set updatedEntries = get_entries('guides', sort_by='date_updated', reverse=True)[0:10] %}
		{% with entries=updatedEntries, showDateUpdated=true %}
			{% include "_blocks/entryPreviews.html" %}
		{% endwith %}
	</section>
</main>
{% endblock%}