<p>
	In Berlin, it takes <strong v-text="totalWaitRange">a few months</strong> to get a <span v-text="residencePermitName.normal">residence permit</span>.
	The average wait time is <span v-text="totalWaitAverage">unknown</span>.
	Wait times vary by <a href="/guides/immigration-office#departments">department</a><span v-if="!residencePermitType">&nbsp;and residence permit type</span>.
	Based on <a href="#feedback-from-other-people">feedback from <span v-text="feedbackCount">many</span> people</a>.
</p>
{% tool "feedbackResidencePermit/filters" %}
{% raw %}
<div class="residence-permit-feedback-summary feedback-summary">
	<div class="steps">
		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Send your documents</span>
			<small class="duration" v-text="stepWaitRange('first_response_date')">Loading…</small>
		</div>
		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Get a response</span>
			<small class="duration" v-text="stepWaitRange('appointment_date')">Loading…</small>
		</div>
		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Go to your Ausländerbehörde appointment</span>
			<small class="duration" v-text="stepWaitRange('pick_up_date')">Loading…</small>
		</div>
		<div class="step completed">
			<input type="checkbox" checked disabled>
			<span class="description">Pick up your residence card</span>
		</div>
	</div>
</div>
<p v-if="supportLink" v-cloak>
	<strong><a :href="supportLink" class="internal-link">How to apply for the {{ residencePermitTypes[residencePermitType].normal }}</a></strong>
</p>
{% endraw %}