{% extends "tests/components/entry.html.jinja" %}
{% set metatitle = entry.tag|capitalize|replace('-', ' ') + " test" %}

{% block postHead %}
	<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
	<h1>Component test</h1>
	<div class="article-body">
		{% tool entry.tag, static=True %}
	</div>
{% endblock %}