{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}
{% set related_entries = entry.related_guides|default([]) %}

{% block postHead %}
	{{ super() }}
	<link rel="index" href="{{ SITE_URL }}/tools">
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		{% block precontent %}{% endblock %}
		<article class="section">
			<h1>{{ entry.title }}</h1>
			{% include "_blocks/postMeta.html" %}
			<div class="article-body">
				{{ entry.body|render|safe }}
			</div>
		</article>

		{% with pageType='document' %}
			{% include "_blocks/footerDonationPrompt.html" %}
		{% endwith %}

		{% if related_entries %}
			<aside class="section no-print" id="related" aria-labelledby="h-using-this-term" data-nosnippet>
				<h2 id="h-using-this-term">Related guides</h2>
				{% with entries=related_entries, showDateUpdated=true %}
					{% include "_blocks/entryPreviews.html" %}
				{% endwith %}
			</aside>
		{% endif %}

		{% include "_blocks/affiliateNotice.html" %}
	</main>

	{% with entry=entry, showRelatedEntriesLink=related_entries|length %}
		{% include "_blocks/sidebar.html" %}
	{% endwith %}
{% endblock %}

{% block postFooter %}
	{{ super() }}
	<script type="application/ld+json">
		[
			{
				"@context": "http://schema.org",
				"@type": "WebPage",
				"name": {{ entry.title|tojson }},
				"description": {{ entry.description|tojson }},
				"breadcrumb": {
					"@context": "https://schema.org",
					"@type": "BreadcrumbList",
					"itemListElement": [
						{
							"@type": "ListItem",
							"position": 1,
							"item": {
								"@id": "{{ SITE_URL }}/",
								"name": "Home"
							}
						},
						{
							"@type": "ListItem",
							"position": 2,
							"item": {
								"@id": "{{ SITE_URL }}/tools",
								"name": "Tools and calculators"
							}
						},
						{
							"@type": "ListItem",
							"position": 3,
							"item": {
								"@id": "{{ entry.url }}",
								"name": {{ entry.title|tojson }}
							}
						}
					]
				},
				"author": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"publisher": {
					"@type": "Organization",
					"@id": "{{ SITE_URL }}/#organization"
				}
			}
		]
	</script>
{% endblock %}
