{% extends "_layout.html" %}
{% set metatitle = "Tools, forms and document templates" %}
{% set metadescription = "Tools for German bureaucracy: translated forms, document templates, tax calculators, Bürgeramt appointment finder and more." %}

{% block postHead %}
	{{ super() }}
	<link rel="canonical" href="{{ site_url }}/tools">
{% endblock %}

{% macro preview(entry) %}
	{% if entry.url.startswith(site_url + '/docs/') %}
		{% set id = random_id() %}
		<li class="document" aria-labelledby="h-doc-{{ id }}">
			<h3 id="h-doc-{{ id }}">
				<a title="{{ entry.german_term }}" rel="bookmark" href="{{ entry.url }}" lang="de">{{ entry.german_term }}</a>
				{{ entry.english_term }}
			</h3>
			<p>{{ entry.description }}</p>
		</li>
	{% elif entry.url.startswith(site_url + '/tools/') %}
		{% set id = random_id() %}
		<li aria-labelledby="h-tool-{{ id }}">
			<h3 id="h-tool-{{ id }}">
				<a title="{{ entry.title }}" rel="bookmark" href="{{ entry.url }}">{{ entry.short_title|default(entry.title) }}</a>
			</h3>
			<p>{{ entry.description }}</p>
		</li>
	{% endif %}
{% endmacro %}

{% block main %}
	<main aria-label="Main page">
		<article class="section">
			<h1>Tools, forms and document templates</h1>
			<div class="article-body">
				<p>These documents and tools are here to make your life easier.</p>
				<h2 id="calculators">Calculators</h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'calculator' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>

				<h2 id="maps">Maps</h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'maps' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>

				<h2 id="burgeramt">For the <a href="/glossary/Bürgeramt">Bürgeramt</a></h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'buergeramt' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>

				<h2 id="auslanderbehorde">For the <a href="/glossary/Ausländerbehörde">Ausländerbehörde</a></h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'auslaenderbehoerde' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>

				<h2 id="finanzamt">For the <a href="/glossary/Finanzamt">Finanzamt</a></h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'finanzamt' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>

				<h2 id="agentur-fur-arbeit">For the <a href="/glossary/Agentur für Arbeit">Agentur für Arbeit</a></h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'agentur_fuer_arbeit' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>

				<h2 id="employer">For your employer</h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'employer' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>

				<h2 id="landlord">For your landlord</h2>
				<ol class="previews">
				{% for entry in get_entries(['docs', 'tools'], sort_by=('german_term', 'short_title', 'title')) %}
					{% if 'landlord' in entry.categories %}
						{{ preview(entry) }}
					{% endif %}
				{% endfor %}
				</ol>
			</div>
		</article>
	</main>
	<div class="sidebar" aria-hidden="true" data-nosnippet>
		<nav class="table-of-contents no-print" aria-label="Table of contents">
			<h2>Categories</h2>
			<ol>
				<li><a href="#calculators">Calculators</a></li>
				<li><a href="#maps">Maps</a></li>
				<li><a href="#burgeramt">For the Bürgeramt</a></li>
				<li><a href="#auslanderbehorde">For the Ausländerbehörde</a></li>
				<li><a href="#finanzamt">For the Finanzamt</a></li>
				<li><a href="#agentur-fur-arbeit">For the Agentur für Arbeit</a></li>
				<li><a href="#employer">For your employer</a></li>
				<li><a href="#landlord">For your landlord</a></li>
			</ol>
		</nav>
		<div id="floating-nav">
			<button class="button open-close" title="Show/hide table of contents"><i class="icon table-of-contents"></i></button>
		</div>
	</div>
{% endblock %}

{% js %}
	import initializeSidebar from '/js/components/sidebar.mjs';
	initializeSidebar();
{% endjs %}