<p>Hi {{ message.case.name|default:"there" }},</p>

<p>A week ago, you asked a health insurance question on All About Berlin.</p>

<p>If you have time, I would like some feedback:</p>

<ol>
	<li>Did my health insurance tool help?</li>
	<li>Did your conversation with {{ message.case.broker_info.first_name }} help?</li>
	<li>What can I explain better in my health insurance guide?</li>
</ol>

<p>Thanks for taking the time to answer. It's really helpful.</p>

<p>Kind regards,<br>Nicolas Bouliane, All About Berlin</p>

<p><small>You received this email because you asked a health insurance question on All About Berlin. <a href="https://allaboutberlin.com/newsletter?utm_source=email_reminder">Subscribe to my newsletter</a> to receive monthly Berlin tips and updates.</small></p>
