<div class="post-meta no-print" aria-label="Author and publication date">
	{% set reviews = entry.related_reviews|default([]) %}
	<span>
		<i class="icon calendar" aria-hidden="true"></i>
		{% if showPublicationDate|default %}
			<time datetime="{{ entry.date_created.isoformat(timespec='seconds') }}">Published on {{ entry.date_created.strftime('%B %-d, %Y') }}</time>
		{% else %}
			<time datetime="{{ entry.date_updated.isoformat(timespec='seconds') }}">Updated on {{ entry.date_updated.strftime('%B %-d, %Y') }}</time>
		{% endif %}
	</span>
	<span>
		<i class="icon person" aria-hidden="true"></i>
		{% if entry.author|default %}
			{% if entry.author_url|default %}
				By <a rel="nofollow" href="{{ entry.author_url }}" target="_blank">{{ entry.author }}</a>
			{% else %}
				By {{ entry.author }}
			{% endif %}
		{% else %}
			By <a rel="author nofollow" href="{{ SITE_URL }}/about">Nicolas Bouliane</a>
		{% endif %}
	</span>
	{% if reviews|length == 1 %}
		<span class="post-reviewers">
			<i class="icon verified" aria-hidden="true"></i>
			Verified by <a class="reviewers-link" href="#reviewers">1 expert</a>
		</span>
	{% elif reviews|length > 1 %}
		<span class="post-reviewers">
			<i class="icon verified" aria-hidden="true"></i>
			Verified by <a href="#reviewers">{{ reviews|length }} experts</a>
		</span>
	{% endif %}
	{% if reviews %}
		<ul class="hidden" id="reviewers">
			{% for review in reviews %}
				{% set reviewer = review.related_expert[0] %}
				<li>
					{% if reviewer.picture|default %}
						{% image reviewer.picture, css_class="profile-picture", alt=reviewer.name, sizes="75px" %}
					{% else%}
						<div class="placeholder"></div>
					{% endif %}
					<div>
						<p>
							<strong><span class="no-mobile">Verified by </span> {{ reviewer.name }}</strong>
							<span class="no-mobile"> on </span>
							<time datetime="{{ review.date_reviewed.isoformat(timespec='seconds') }}">{{ review.date_reviewed.strftime('%B %-d, %Y') }}</time>
						</p>
						{{ reviewer.body|render|safe }}
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

{% if reviews|length %}
	{% js %}
		import initializeReviewers from '/js/components/reviewers.mjs';
		initializeReviewers();
	{% endjs %}
{% endif %}