<div class="search-form no-print">
	<label title="Search this website">
		<input type="search"
			placeholder="Search this website"
			tabindex="0"
			aria-autocomplete="list"
			aria-controls="search-results-{{ random_id() }}"
			{% if autofocus|default %}class="autofocus"{% endif %}>
		{% include "_icons/search.svg" %}
	</label>
	<div id="search-results-{{ random_id() }}" role="listbox" class="search-results"></div>
</div>

{% js %}
	import initializeSearchForm from '/js/components/search-form.mjs'
	initializeSearchForm();
{% endjs %}