<dialog id="tooltip" aria-labelledby="h-tooltip">
	<header>
		<h2>
			<a href="#" title="Open definition in new tab" target="_blank">
				<dfn role="term" lang="de" id="h-tooltip"></dfn>
				<small lang="en"></small>
			</a>
		</h2>
		<button title="Hear how this term is pronounced" target="_blank" class="pronounce-button" role="button" aria-label="Hear how this term is pronounced"><i class="icon sound" aria-hidden="true"></i></button>
		<button title="Close" class="close-button" role="button" aria-label="Close tooltip"><i class="icon close" aria-hidden="true"></i></button>
	</header>
	<div class="article-body" role="definition"></div>
</dialog>

{% js %}
	import { initializeTooltip } from '/js/components/tooltip.mjs';
	initializeTooltip();
{% endjs %}