{% extends "_layout.html" %}
{% set metatitle = "Page not found" %}
{% set metadescription = "The page you are looking for does not exist." %}

{% block postHead %}
	<meta name="robots" content="noindex">
	{% js %}
		window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) };
		plausible("404", { props: { path: document.location.pathname } });
	{% endjs %}
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		<div class="intro">
			<h1>Page not found</h1>
			<p>Not what you expected? To report a problem, <a href="{{ SITE_URL }}/contact">contact me</a>.</p>
			{% with autofocus=true %}
				{% include "_blocks/searchForm.html" %}
			{% endwith %}
		</div>
	</main>
{% endblock %}

