<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if metatitle|default %}{{ metatitle }}{% if metatitle|length < 50 %} - {% endif %}{% if metatitle|length < 50 %}All About Berlin{% endif %}{% else %}All About Berlin{% endif %}</title>
	{% if metadescription|default %}<meta name="description" content="{{ metadescription }}">{% endif %}

	<link rel="preload" as="font" href="/fonts/librefranklin-variable.woff2" type="font/woff2" crossorigin>
	<link rel="preload" as="font" href="/fonts/librefranklin-variable-i.woff2" type="font/woff2" crossorigin>
	<link rel="preload" as="fetch" href="/api/exchangerates.json" crossorigin>
	<link rel="preload" as="script" href="/whoisthere.js">
	<script async defer data-api="{{ SITE_URL }}/whoisthere/event" data-domain="allaboutberlin.com" src="{{ SITE_URL }}/whoisthere.js"></script>

	<link rel="home" href="{{ SITE_URL }}/">
	<link rel="icon" type="image/png" href="/staticimages/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="All About Berlin newsletter" href="{{ SITE_URL }}/newsletter/feed.rss">
	<link rel="alternate" type="application/rss+xml" title="All About Berlin's latest guides" href="{{ SITE_URL }}/guides/feed.rss">
	<link rel="author" href="{{ SITE_URL }}/about">
	<link rel="privacy-policy" href="{{ SITE_URL }}/terms#privacy-policy">
	<link rel="terms-of-service" href="{{ SITE_URL }}/terms">

	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#da513d">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#9f3a2b">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:site_name" content="All About Berlin">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@aboutberlin">
	<meta name="twitter:site" content="@aboutberlin">
	{% block postHead %}
		{% if entry|default %}
			<meta property="og:type" content="article">
			<meta property="og:url" content="{{ entry.url }}">
			<meta property="og:title" content="{{ entry.title }}">
			<meta property="og:description" content="{{ entry.description }}">
			<meta property="og:image" content="{{ entry.image_url }}">
			<link rel="canonical" href="{{ entry.url }}">
		{% else %}
			<meta property="og:type" content="website">
			<meta property="og:title" content="{% if metatitle|default %}{{ metatitle }}{% else %}All About Berlin{% endif%}">
			<meta property="og:description" content="{{ metadescription }}">
			<meta property="og:image" content="{{ SITE_URL }}/staticimages/cover.png">
		{% endif %}
		<meta property="og:logo" content="{{ SITE_URL }}/staticimages/logo.png" />
	{% endblock %}

	<meta name="git-commit-hash" content="{{ commit_id }}">
	<meta name="page-generated" content="{{ now.isoformat() }}">

	<style>
		{% scss %}
			{% include "css/style.scss" %}
			{% block extraScss %}
			{% endblock %}
		{% endscss %}
	</style>
	<noscript>
		<style>
			[v-cloak]:before, [v-cloak]:after{content:none}
		</style>
	</noscript>
</head>
<body>
{% block body %}
	<header id="main-nav" aria-label="Main menu" class="no-print">
		<a class="logo" href="{{ SITE_URL }}/" rel="home" title="All About Berlin">
			All About Berlin
		</a>
		<nav id="sections" aria-label="Website sections">
			{% include "_blocks/searchForm.html" %}
			<a title="Guides about life in Berlin" href="{{ SITE_URL }}/guides">Guides</a>
			<a title="Tools, forms and templates" href="{{ SITE_URL }}/tools">Tools</a>
			<a href="{{ SITE_URL }}/newsletter">Newsletter</a>
			<a class="no-mobile" href="{{ SITE_URL }}/contact">Contact</a>
		</nav>
	</header>
	{% block main %}
		<main aria-label="Main page">
			{% block precontent %}{% endblock %}
			<article class="section">
				{% block content %}{% endblock %}
			</article>
			{% block postcontent %}{% endblock %}
		</main>
	{% endblock %}
	{% block footer %}
		<footer aria-label="Bottom menu" class="no-print">
			<a href="{{ SITE_URL }}/donate" rel="nofollow">Donate</a> •
			<a href="{{ SITE_URL }}/newsletter">Newsletter</a> •
			<a href="{{ SITE_URL }}/contact" rel="nofollow">Imprint</a> •
			<a href="{{ SITE_URL }}/terms" rel="nofollow">AGB</a>
		</footer>
	{% endblock %}
{% endblock %}
{% block postFooter %}
	{% include "_blocks/tooltip.html" %}
	<script type="module">
		import { getCurrencyTooltipText } from '/js/utils/exchangeRates.mjs';
		import { validateForm } from '/js/utils/form.mjs';
		import { initializeTracking } from '/js/utils/tracking.mjs';
		import initializeCurrencyTooltips from '/js/components/currency.mjs';
		import initializeChecklists from '/js/components/checklist.mjs';
		import initializeFootnotes from '/js/components/footnotes.mjs';

		initializeTracking();
		initializeChecklists();
		initializeCurrencyTooltips();
		initializeFootnotes();

		{% alljs %}
	</script>
	<script type="application/ld+json">
		[
			{
				"@context": "https://schema.org",
				"@type": "WebSite",
				"@id": "{{ SITE_URL }}/#site",
				"author": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"accountablePerson": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"maintainer": {
					"@type": "Person",
					"@id": "https://nicolasbouliane.com"
				},
				"description": "All About Berlin helps people settle in Berlin and navigate German bureaucracy.",
				"inLanguage": "en",
				"url": "{{ SITE_URL }}/",
				"publisher": {
					"@type": "Organization",
					"@id": "{{ SITE_URL }}/#organization"
				},
				"sameAs": [
					"https://github.com/all-about-berlin",
					"https://maps.app.goo.gl/9JPTZeCRpkcxgqqp6",
					"https://reddit.com/r/allaboutberlin",
					"https://twitter.com/aboutberlin",
					"https://www.facebook.com/allaboutberlin",
					"https://www.linkedin.com/company/allaboutberlin/"
				]
			},
			{
				"@context": "https://schema.org",
				"@id": "{{ SITE_URL }}/#organization",
				"@type": "Organization",
				"address": {
					"@type": "PostalAddress",
					"addressCountry": "DE",
					"addressLocality": "Berlin",
					"addressRegion": "Berlin",
					"postalCode": "13127",
					"streetAddress": "Pasewalker Straße 65"
				},
				"description": "All About Berlin helps people settle in Berlin and navigate German bureaucracy.",
				"foundingDate": "2017-09-01",
				"logo": "{{ SITE_URL }}/staticimages/logo.png",
				"name": "All About Berlin",
				"sameAs": [
					"https://github.com/all-about-berlin",
					"https://maps.app.goo.gl/9JPTZeCRpkcxgqqp6",
					"https://reddit.com/r/allaboutberlin",
					"https://twitter.com/aboutberlin",
					"https://www.facebook.com/allaboutberlin",
					"https://www.linkedin.com/company/allaboutberlin/",
					"https://allaboutberlin.com/newsletter"
				],
				"url": "{{ SITE_URL }}/"
			},
			{
				"@context": "https://schema.org",
				"@type": "Person",
				"@id": "https://nicolasbouliane.com",
				"name": "Nicolas Bouliane",
				"email": "contact@allaboutberlin.com",
				"url": "https://nicolasbouliane.com"
			}
		]
	</script>
{% endblock %}
</body>
</html>
