<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>{{ SITE_URL }}</loc>
	</url>
	{% for uri in ['contact.md', 'terms.md'] %}
		<url>
			<loc>{{ entries[uri].url }}</loc>
			<lastmod>{{ entries[uri].date_updated.isoformat(timespec="seconds") }}</lastmod>
		</url>
	{% endfor %}
	{% for entry in get_entries(['guides', 'docs', 'glossary', 'tools', 'collections', 'newsletter'], sort_by='date_updated', reverse=True) %}
		<url>
			<loc>{{ entry.url }}</loc>
			<lastmod>{{ entry.date_updated.isoformat(timespec="seconds") }}</lastmod>
		</url>
	{% endfor %}
</urlset>