{% extends "_layout.html" %}

{% set title = entry.title | default("Definition of \"" + entry.german_term + "\"") %}
{% set metatitle = title %}
{% set metadescription = entry.description | default("A definition of the term \"" + entry.german_term + "\", in plain English.") %}
{% set related_entries = entry.related_guides|default([]) %}

{% block postHead %}
	{{ super() }}
	<meta property="og:type" content="website">
	<link rel="index" href="{{ SITE_URL }}/glossary">
{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
	{% include "_blocks/postMeta.html" %}
	<div class="article-body">
		{{ entry.body|render|safe }}
	</div>
{% endblock %}

{% block postcontent %}
	{% if related_entries %}
		<aside class="section no-print" id="related" aria-labelledby="h-using-this-term" data-nosnippet>
			<h2 id="h-using-this-term">Related guides</h2>
			{% with entries=related_entries, showDateUpdated=true %}
				{% include "_blocks/entryPreviews.html" %}
			{% endwith %}
		</aside>
	{% endif %}
{% endblock %}
