{% extends "tests/component/index.html.jinja" %}

{% js %}
	import Recommended from '/js/vue/components/recommended.mjs';

	new Vue({
		el: document.querySelector('main .article-body'),
		components: {
			Recommended
		}
	});
{% endjs %}

{% block component %}
	<p>Recommended option <recommended></recommended></p>
{% endblock %}