{% extends "tests/component/index.html.jinja" %}

{% js %}
	import Thread from '/js/vue/components/thread.mjs';

	new Vue({
		el: document.querySelector('main .article-body'),
		components: {
			Thread,
		},
	})
{% endjs %}

{% block component %}
	<thread id="german-health-insurance"></thread>
{% endblock %}